@use "../../utils/fonts/fonts.scss";
.form {
    margin-top: 44px;
    display: flex;
    flex-flow: column nowrap;
    width: 350px;
    height: 100%;
}

.checkbox {
    margin: 16px 0 4px 0;
}

.button {
    margin-top: 44px;
    cursor: pointer;
    color: #ffffff;
    @include fonts.workSansSemibold(18px, 1.4);
    border: none;
    border-radius: 8px;
    height: 50px;
    background: linear-gradient(270deg, #0f36ae 9.9%, #365bcc 50.52%, #0f36ae 100%);
    &:hover {
        opacity: 0.8;
    }
}

.inputs {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 24px;
}
