@use "../../utils/fonts/fonts.scss";
.comment {
    display: block;
    &__content {
        display: flex;
        position: relative;
        height: auto;
        margin-left: 35px;

        &_lastIngPage {
            &::before {
                margin-bottom: 48px;
            }
        }

        &_pagEnd {
            &::after {
                display: none;
            }
        }

        &_noReplies {
            &::after {
                display: none;
            }
        }

        &::before {
            position: relative;
            content: "";
            border: 0.5px solid #e6eaec;
            left: -18px;
        }
    }

    &__text {
        padding-left: 12px;
        margin: 0;
        margin-top: 16px;
        white-space: pre-line;
        @include fonts.workSansRegular(16px, 1.4);
        color: #4f4f4f;
    }

    &__children {
        margin-left: 24px;
    }

    &__contentWrapper {
        padding-bottom: 24px;
    }
}

.comment__author {
    position: relative;
    display: block;
    &_nested {
        display: block;
        /*  &::before {
            position: absolute;
            content: "";
            border: 2px solid transparent;
            bottom: 20px;
            left: -44px;
            height: 40px;
            width: 40px;
            border-left-color: #e6eaec;
            border-bottom-color: #e6eaec;
            border-bottom-left-radius: 26px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
        } */
    }
    &_first {
        display: block;
        &::before {
            position: absolute;
            content: "";
            border: 2px solid transparent;
            bottom: 20px;
            left: -44px;
            height: 40px;
            width: 40px;
            border-left-color: #e6eaec;
            border-bottom-color: #e6eaec;
            border-bottom-left-radius: 26px;
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}

.interact {
    margin-top: 16px;
    align-items: center;
    display: flex;
    gap: 28px;
}

.reply {
    padding: 8px 12px;
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
    }

    &__text {
        @include fonts.workSansMedium(16px, 1.5);
        color: var(--text-color-gray);
    }
}
