@use "../../utils/fonts/fonts.scss";

.postTag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: var(--color-blue-secondary);
    &__text {
        @include fonts.workSansMedium(14px, 1.4);
        color: var(--text-color-blue);
    }

    &__button {
        position: relative;
        background-color: #8198f9;
        cursor: pointer;
        border: none;
        width: 18px;
        height: 18px;
        color: #ffffff;
        border-radius: 50%;
        &:hover {
            opacity: 0.7;
        }
        &:before,
        &:after {
            position: absolute;
            left: 8px;
            top: 15%;
            width: 2px;
            height: 70%;
            border-radius: 0.125em;
            transform: rotate(45deg);
            background: #ffffff;
            content: "";
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}
