:root {
    --font-work-sans: "Work Sans";
    --text-color-gray: #97989F;
    --text-color-dark: #181A2A;
    --text-color-dark-light: #414141;
    --color-blue-main: #365BCC;
    --color-blue-main-hover: #2D51BC;
    --text-color-blue: #4B6BFB;
    --color-blue-secondary: #E4E9FE;
}
