@use "../../utils/fonts/fonts.scss";
.content {
    display: flex;
    gap: 12px;
    align-items: center;

    &__text {
        @include fonts.workSansMedium(16px, 1.4);
        cursor: pointer;

        &_default {
            color: var(--text-color-dark);
        }

        &_secondary {
            color: #696a75;
        }
    }
}

.avatar {
    cursor: pointer;
}

.comment {
    margin-top: 4px;
    & > p {
        margin: 0;
    }
    display: flex;
    gap: 10px;
    align-items: center;

    &__separator {
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50px;
        background-color: #6d6d6d;
    }

    &__time {
        @include fonts.workSansMedium(14px, 1.5);
        color: var(--text-color-gray);
    }
}
